@import url('https://fonts.googleapis.com/css2?family=Uncut+Sans:wght@400;700&display=swap');
@import './base.css';

body {
  padding-top: 73px;
  background-color: var(--vt-c-black-soft);
  font-family: 'Uncut Sans', sans-serif;
}
